<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="atd.code.permission.mapper.AppMapper">
    <insert id="create" parameterType="atd.code.permission.entity.App">
        INSERT INTO permission_application
            (name, permission, description, port)
        VALUES (#{name}, #{permission}, #{description}, #{port})
    </insert>

    <select id="selectLength" resultType="Integer">
        SELECT COUNT(*)
        FROM permission_application
    </select>

    <select id="selectInfo" resultType="atd.code.permission.entity.App">
        SELECT *
        FROM permission_application
        ORDER BY port
            LIMIT #{start}, #{pageSize}
    </select>

    <delete id="delete" parameterType="Integer">
        DELETE
        FROM permission_application
        WHERE id = #{id}
    </delete>
</mapper>